{extend name="common/layout" /}
{block name="main"}


<t-space style="width: 100%;">
  <t-row justify="space-between">
    <t-col :flex="4" style="margin-right: 10px;">
      <t-card bordered header style="background-color: #0052d9;">
        <t-row>
          <t-col :flex="4">
            <div style="margin-bottom: 15px; color: white;">本月利润</div>
            <div style="font-size: 24px; font-weight: bold; color: white;"></div>
          </t-col>
          <t-col :flex="2" style="margin: 10px 0px 10px 10px;">
            <t-icon name="money" style="color: white" size="3em"/>
          </t-col>
        </t-row>
      </t-card>
    </t-col>
    <t-col :flex="4" style="margin-right: 10px;">
      <t-card bordered header>
        <t-row>
          <t-col :flex="4">
            <div style="margin-bottom: 15px;">待收金额</div>
            <div style="font-size: 24px; font-weight: bold; color: #0052d9;"></div>
          </t-col>
          <t-col :flex="2" style="margin: 10px 0px 10px 10px;">
            <t-icon name="money" style="color: #0052d9" size="3em"/>
          </t-col>
        </t-row>
      </t-card>
    </t-col>
    <t-col :flex="3" style="margin-right: 10px;">
      <t-card bordered header>
        <t-row>
          <t-col :flex="3">
            <div style="margin-bottom: 15px;">闲置房间</div>
            <div style="font-size: 24px; font-weight: bold; color: #0052d9;"></div>
          </t-col>
          <t-col :flex="2" style="margin: 10px 0px 10px 10px;">
            <t-icon name="window-1" style="color: #0052d9" size="3em"/>
          </t-col>
        </t-row>
      </t-card>
    </t-col>
    <t-col :flex="3" style="margin-right: 10px;">
      <t-card bordered header>
        <t-row>
          <t-col :flex="3">
            <div style="margin-bottom: 15px;">入住率</div>
            <div style="font-size: 24px; font-weight: bold; color: #0052d9;"></div>
          </t-col>
          <t-col :flex="2" style="margin: 10px 0px 10px 10px;">
            <t-icon name="calculator-1" style="color: #0052d9" size="3em"/>
          </t-col>
        </t-row>
      </t-card>
    </t-col>
    <t-col :flex="3" style="margin-right: 10px;">
      <t-card bordered header>
        <t-row>
          <t-col :flex="3">
            <div style="margin-bottom: 15px;">总房间数</div>
            <div style="font-size: 24px; font-weight: bold; color: #0052d9;"></div>
          </t-col>
          <t-col :flex="2" style="margin: 10px 0px 10px 10px;">
            <t-icon name="houses-2" style="color: #0052d9" size="3em"/>
          </t-col>
        </t-row>
      </t-card>
    </t-col>
    <t-col :flex="3" style="margin-right: 10px;">
      <t-card bordered header>
        <t-row>
          <t-col :flex="3">
            <div style="margin-bottom: 15px;">总合同数</div>
            <div style="font-size: 24px; font-weight: bold; color: #0052d9;"></div>
          </t-col>
          <t-col :flex="2" style="margin: 10px 0px 10px 10px;">
            <t-icon name="file" style="color: #0052d9" size="3em"/>
          </t-col>
        </t-row>
      </t-card>
    </t-col>
    <t-col :flex="4">
      <t-card bordered header>
        <t-row>
          <t-col :flex="1">
            <div style="margin-bottom: 15px;">账号截止日期</div>
            <div style="font-size: 24px; font-weight: bold; color: #0052d9;">
              2025
            </div>
          </t-col>
        </t-row>
      </t-card>
    </t-col>


  </t-row>
</t-space>


{/block}


{block name="script"}
<script>
  const data = {
    cardData: {},

  };

  function f() {
    return {
      init: function () {
        axiosGet("{:url('queryHouseInfo')}").then(res => {

        })
      }
    }
  }
</script>

<style>
  html body {
    overflow-y: hidden;
    width: 99% !important;
  }
</style>

{/block}