<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <title>rent8-出租屋管理系统</title>
  <meta name="renderer" content="webkit|ie-comp|ie-stand">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
        content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <!-- 导入 axios -->
  <script src="__STATIC__/js/axios.min.js"></script>
  <!-- 导入 Vue3 -->
  <script src="__CDN__/vue/3.4.19/vue.global.js"></script>
  <!-- 导入 TDesign 组件库 -->
  <script src="__CDN__/tdesign/1.9.9/tdesign.min.js"></script>
  <link rel="stylesheet" href="__CDN__/tdesign/1.9.9/tdesign.min.css"/>
  <!-- 导入 TDesign icon -->
  <script src="__CDN__/tdesign-icons/0.2.2/index.js"></script>
  <link rel="stylesheet" href="__CDN__/tdesign-icons/0.2.2/index.css"/>
  <!-- 导入 login css -->
  <link rel="stylesheet" href="__STATIC__/css/login.css">
</head>

<body>
<style>
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url("__STATIC__/images/login-bg.png");
    background-size: 100% 100%;
  }
</style>
<div id="app">
  <t-space direction="vertical">
    <t-loading :loading="loading" text="登录中..." fullscreen/>
  </t-space>
  <div class="login-header">
    <div></div>
    <div class="operations-container">
      <t-button theme="default" shape="square" variant="text" @click="navToGitee">
        <t-icon name="logo-github" class="icon"/>
      </t-button>
      <t-button theme="default" shape="square" variant="text" @click="navToHelper">
        <t-icon name="help-circle" class="icon" />
      </t-button>
    </div>
  </div>

  <div class="login-container">
    <div class="title-container">
<!--      <h1 class="title margin-no">登录到</h1>-->
      <h1 class="title">出租屋管理系统</h1>
    </div>

    <div style="width: 350px">

    </div>
  </div>

</div>

<script>
  const App = {
    data() {
      return {
        loading: false,
      }
    }
  };
  const app = Vue.createApp(App);
  app.use(TDesign);
  app.mount("#app");
</script>

</body>

</html>