<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>rent8-最常用出租屋管理系统</title>
  <!-- 导入 Vue3 -->
  <script src="__CDN__/vue/3.4.19/vue.global.js"></script>
  <!-- 引入Vue Router -->
  <script src="__CDN__/vue-router/4.3.0/vue-router.global.js"></script>
  <!-- axios -->
  <script src="__STATIC__/js/axios.min.js"></script>
  <!-- 导入 TDesign 组件库 -->
  <script src="__CDN__/tdesign/1.9.9/tdesign.min.js"></script>
  <link rel="stylesheet" href="__CDN__/tdesign/1.9.9/tdesign.min.css"/>
  <!-- 导入 TDesign icon -->
  <script src="__CDN__/tdesign-icons/0.2.2/index.js"></script>
  <link rel="stylesheet" href="__CDN__/tdesign-icons/0.2.2/index.css"/>
  <!-- 导入antv g2 -->
  <script src="__CDN__/antv/g2.min.js"></script>
  <!-- 导入coze -->
  <script src="__CDN__/coze/coze.js"></script>
  <style>
    /* 自定义悬浮入口的位置 */
    #position_demo {
      position: absolute;
      right: 10px;
      bottom: 20px;
    }
  </style>
  <!-- 导入printJS -->
  <script src="__CDN__/print/print.js"></script>
  <link rel="stylesheet" href="__CDN__/print/print.css" type="text/css">
  <!-- 导入自封装JS -->
  <script type="text/javascript"
          src="__STATIC__/js/main.js?{if $Think.env.app_debug}_={:time()}{else /}v={$Think.config.tpadmin.version}{/if}"></script>
</head>

<body>
<div id="app" v-cloak>
  <t-layout>
    <t-header>{include file="common/pub/header" /}</t-header>
    <t-layout style="border-top: 1px solid #eeeeee;">

    </t-layout>
  </t-layout>
</div>
<div id="position_demo"></div>
{block name="script"}{/block}
<script>

  const common_data = {
    isCollapse: false,

    houseList: [],
    loading: false,
    passwordVisible: false,
    miniProgramVisible: false,
    passwordData: {
      password: '',
      password2: ''
    },
    passwordRules: {
      password: [
        {required: true, message: '密码必填', type: 'error'},
        {min: 6, message: '密码最少6位数', type: 'error', trigger: 'blur'},
      ],
      password2: [
        {required: true, message: '密码必填', type: 'error'},
        {min: 6, message: '密码最少6位数', type: 'error', trigger: 'blur'},
      ],
    },
  }

  function common_f() {
    return {
      changeCollapsed: function () {
        this.isCollapse = !this.isCollapse;
      },

      miniProgram: function () {
        this.miniProgramVisible = true;
      },
      changePassword: function () {
        this.passwordVisible = true;
        this.$refs.passwordForm.reset();
      },
      navToGitee: function () {
        window.open('https://gitee.com/MarcoMaHH/rent8');
      },
      navToHelper: function () {
        window.open('https://mp.weixin.qq.com/s/Gr3Xl7rkS2_cjpBXTwaTtw');
      },
    }
  }


  const App = {
    data: function () {
      return Object.assign(common_data, {});
    },
    methods: Object.assign(common_f(), {}),
    mounted: function () {

    }
  };

  const app = Vue.createApp(App);
  app.use(TDesign);
  const router = VueRouter.createRouter({
    history: VueRouter.createWebHistory(''),
    routes: [],
  });
  app.use(router);
  app.mount("#app");
</script>
<script>

</script>
</body>

</html>





